body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h1,
h2,
h3 {
  font-family: "Fraunces", serif;
}
p,
a {
  font-family: "Barlow", sans-serif;
  font-weight: 600;
}
#About {
  background-image: url(images/desktop/image-header.jpg);
  margin-top: -20px;
  width: 100%;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  text-align: center;
  background-position: center;
}

#navbar {
  display: flex;
  justify-content: space-between;
  margin: 20px 40px;
  padding: 20px 40px;
  align-items: center;
}
#links {
  display: flex;
  width: 500px;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}
#links a {
  text-decoration: none;
  color: white;
}
#links button {
  background: white;
  width: 150px;
  height: 45px;
  border-radius: 30px;
  border-width: 0;
}
#links button:hover {
  background: orange;
}
#About h1 {
  font-size: 50px;
  font-weight: 900;
  margin-top: 100px;
}
#arrow {
  animation: 1s pointer infinite;
  height: 60px;
}
@keyframes pointer {
  0% {
    margin-top: 0;
  }
  100% {
    margin-top: 15px;
    opacity: 10%;
  }
}
#menu {
  display: none;
}

.links {
  position: absolute;
  display: grid;
  background: white;
  place-items: center;
  width: 90%;
  margin: 0 5%;
  height: 250px;
  display: none;
  z-index: 5;
}
@media (min-width: 500px) {
  .links {
    display: none;
  }
}

.links a {
  display: block;
  width: 100%;
  text-align: center;
  text-decoration: none;
  color: grey;
  margin: 1px;
}
button {
  font-family: "Fraunces", serif;
  font-weight: 600;
}
.links button {
  width: 120px;
  height: 45px;
  background-color: hsl(51, 100%, 49%);
  border-radius: 30px;
  border-width: 0;
}
.links::before {
  content: "";
  border-bottom: 50px solid white;
  border-left: 50px solid transparent;
  margin-left: auto;
  margin-top: -60px;
  z-index: 5;
}

/*------------section 2 -------------->*/
#Services {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas: "r11 r12" "r21 r22" "r31 r32";
}
#r11 {
  grid-area: r11;
}
#r12 {
  grid-area: r12;
}
#r21 {
  grid-area: r21;
}
#r22 {
  grid-area: r22;
}
#r31 {
  grid-area: r31;
}
#r32 {
  grid-area: r32;
}

#r31,
#r32 {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
}
#Services img {
  width: 100%;
  height: 100%;
}
#r11,
#r22 {
  display: flex;
  justify-content: center;
  align-items: center;
}
#r11 div,
#r22 div {
  width: 380px;
}
#Services h1 {
  font-size: 40px;
  width: 380px;
}
#Services p {
  color: rgb(182, 171, 171);
}
#Services a {
  text-decoration: none;
  color: black;
}
#r31 {
  background-image: url(images/desktop/image-graphic-design.jpg);
  color: hsl(167, 40%, 24%);
}
#r31 p {
  color: hsl(167, 40%, 24%);
}
#r32 {
  background-image: url(images/desktop/image-photography.jpg);
  color: hsl(198, 62%, 26%);
}
#r32 p {
  color: hsl(198, 62%, 26%);
}
#r31,
#r32 {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding-bottom: 40px;
}
#r31 p,
#r32 p {
  font-size: 18px;
}
#r31 div,
#r32 div {
  width: 380px;
  text-align: center;
}
.uline ::after {
  content: "";
  width: 90px;
  border-radius: 5px;
  height: 2px;
  background-color: orange;
  position: absolute;
  margin: 20px 0 0 -85px;
}
.u2 ::after {
  background-color: red;
}
/*-------------sec3-----------*/
#sec3 {
  text-align: center;
  margin-top: 160px;
}
#sec3 h1 {
  width: 100%;
  color: grey;
}
#reviews {
  display: flex;
  justify-content: space-between;

  margin: 40px 5%;
}
.review {
  width: 350px;
  padding: 20px;
}
#p1 {
  color: rgb(104, 104, 104);
}
.review p {
  color: rgb(182, 179, 179);
}
#sec3 img {
  border-radius: 100px;
}

/*------------sec4-----------*/
#Projects {
  display: flex;
  width: 100%;
}
#Projects img {
  width: 100%;
}
/*-------------sec5-----------*/
#sec5 {
  text-align: center;
  background-color: #89c7a0;
  color: hsl(168, 34%, 41%);
  font-weight: bold;
  margin-top: -38px;
  height: 400px;
  display: grid;
  place-items: center;
  width: 100%;
}
#sec5 h1 {
  width: 100%;
  padding: 25px auto;
  font-size: 40px;
}

#link {
  width: 500px;
  display: flex;
  justify-content: space-around;
  margin-top: -70px;
}
#link a {
  color: hsl(168, 34%, 41%);
  text-decoration: none;
  font-weight: bold;
}
.social a img {
  margin-top: 70px;
  padding: 0 25px;
}

@media (max-width: 800px) {
  #links {
    width: 400px;
  }
  #reviews {
    flex-wrap: wrap;
  }
  .review {
    width: 800px;
  }
  #About {
    background-size: cover;
  }
  #r11 div,
  #r22 div,
  #r31 div,
  #r32 div {
    width: 600px;
  }

  #r11 div h1,
  #r22 div h1 {
    width: 600px;
  }
  #Services h1 {
    width: 600px;
  }
  #Services {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-template-areas: "r12" "r11" "r21" "r22" "r31" "r32";
  }
}
@media (max-width: 700px) {
  #links {
    display: none;
  }
  #menu {
    width: 20px;
    height: 20px;
    display: block;
    margin-right: -4px;
  }
}
@media (max-width: 620px) {
  #r11 div h1,
  #r22 div h1 {
    width: 500px;
  }
  #Services h1 {
    width: 500px;
  }
}
@media (max-width: 550px) {
  #About {
    background-image: url(images/mobile/image-header.jpg);
  }
  #About h1 {
    font-size: 50px;
  }
  #navbar {
    justify-content: space-between;
    margin: 20px 20px;
    padding: 0;
  }
  #reviews {
    flex-wrap: wrap;
  }
  .review {
    width: 350px;
  }
  #contact {
    width: 300px;
  }
  #link {
    width: 300px;
  }
  #r11 div,
  #r22 div {
    width: 300px;
  }
  #r11 div h1,
  #r22 div h1 {
    width: 330px;
  }
  #Services {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-template-areas: "r12" "r11" "r21" "r22" "r31" "r32";
  }

  #r11 div,
  #r22 div {
    width: 330px;
  }
  #Services h1 {
    font-size: 30px;
    width: 330px;
  }
  #r31 div,
  #r32 div {
    width: 350px;
    text-align: center;
  }
  #Projects {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
  #Projects img {
    height: 100%;
  }
}
